In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import os

PWD = os.getenv("postgres_pwd")
# Conexão
engine = create_engine(f"postgresql+psycopg2://postgres:{PWD}@localhost:5432/finances")

# # Inserir os dados
# df.to_sql("gastos", engine, if_exists="append", index=False)

In [ ]:
#set env variable as bash

# Get data

In [2]:
# Get data
l = []
for year in range(2021, 2025):
    l.append(
        pd.read_csv(f"/home/ubuntu/finances/raw_data/binance_transactions_{year}.csv")
    )
l.append(pd.read_csv("/home/ubuntu/finances/raw_data/binance_transactions_2025_partial.csv"))
l = pd.concat(l, ignore_index=True)

# Deposits

In [4]:
brl_deposits = l.query("Operation == 'Deposit' & Coin == 'BRL'")

brl_deposits["UTC_Time"] = pd.to_datetime(brl_deposits["UTC_Time"], format="%Y-%m-%d %H:%M:%S").dt.date

brl_deposits = brl_deposits.rename(columns={
    "UTC_Time": "deposit_date",
    "Change": "value_brl",
})[["deposit_date", "value_brl"]].assign(exchange_name="binance")

/tmp/ipykernel_17961/2333801130.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brl_deposits["UTC_Time"] = pd.to_datetime(brl_deposits["UTC_Time"], format="%Y-%m-%d %H:%M:%S").dt.date

# Glossary


* Operations para olhar os swaps (compra)
    * 'Transaction Spend'
    * 'Transaction Buy'
    * 'Transaction Fee'

* Operations para olhar os swaps (venda)
    * Transaction Revenue
    * Transaction Fee
    * Transaction Sold

* Outros Swaps
    * Stablecoins Auto-Conversion - swap de usdc para busd automatico
    * Transaction Related
    * Binance Convert

* Saque
    * Withdraw (foi para a metamask!!)


* Renda Passiva
    * Staking - OBS: para computo de ganhos, apenas somar "Staking Rewards"
        * Staking Purchase
        * Staking Rewards
        * Staking Redemption
    * Binance Earn - OBS: para computo de ganhos, apenas somar "Simple Earn Flexible Interest" e "Simple Earn Locked Rewards"
        * Simple Earn Flexible Subscription
        * Simple Earn Flexible Interest
        * Simple Earn Flexible Redemption
        * Simple Earn Locked Rewards

* TODO: investigar novamente
    * Airdrop Assets - Ganhos de Airdrops - Inserir manualmente
    * Merchant Acquiring - inserir manualmente
    * Campaign Related Reward - inserir manualmente
    * Transfer Between Main and Funding Wallet ignorar

# Earn

In [6]:
## Staking Earns
earn_categories = [
    "Staking Rewards",
    "Simple Earn Flexible Interest",
    "Simple Earn Locked Rewards",
]
staking_earns = (
    l.query("Operation.isin(@earn_categories)")
    .rename(columns={
        "UTC_Time": "earning_date",
        "Coin": "earning_currency",
        "Change": "earning_amount",
    })
    .assign(
        source=lambda x: x["Operation"].apply(
            lambda op: "binance_staking" if op == "Staking Rewards" else "binance_simple_earn"
        ),
        earning_date=lambda df: pd.to_datetime(
            df["earning_date"], format="%Y-%m-%d %H:%M:%S"
        ).dt.date,
        _processed_at=datetime.now(),
    )
)[[
    "earning_date",
    "earning_currency",
    "source",
    "earning_amount",
    "_processed_at",
]]

# staking_earns.to_sql(name="earnings", schema="crypto", con=engine, if_exists="append", index=False)

# Swap

* Cada transação é formada por TRÊS linhas de mesmo timestamp, contendo ativo pago, ativo recebido e taxas.
* Duas ou mais transações podem ocorrer no mesmo momento
* Alguns dos agrupamentos devem ser manuais

In [3]:
all_swap_categories = [
    "Transaction Spend",
    "Transaction Buy",
    "Transaction Fee",
    "Transaction Revenue",
    "Transaction Sold",
    "Stablecoins Auto-Conversion",
    "Transaction Related",
    "Binance Convert",
]

## Fix Right cases and basic cases

* Buy - three rows (in, out, tax)
* Buy - two rows (in, out, tax=0)

In [ ]:
def compute_buy(
    raw_transactions: pd.DataFrame,
    categories: list[str] = ['Transaction Spend', 'Transaction Buy', 'Transaction Fee'],
    rename: dict = {
        'Transaction Spend': 'paid_',
        'Transaction Buy': 'received_',
        'Transaction Fee': 'paid_taxes_',
    }
):
    swap_buy = raw_transactions.query("Operation.isin(@categories)")
    swap_buy_count = swap_buy.groupby("UTC_Time").size().to_frame().rename(columns={0: "count"}).reset_index()

    display(swap_buy_count["count"].unique())

    # Casos de 3 transactions
    aggregated_swaps = (
        swap_buy.merge(
            swap_buy_count
            .query("count % 3 == 0")
            .drop(columns="count"))
        .groupby(
            ["User_ID", "UTC_Time", "Account", "Operation", "Coin"],
            as_index=False)
        .sum()
    )

    # Casos de swap com 2 linhas
    aggregated_swaps_without_taxes = (
        swap_buy.merge(
            swap_buy_count
            .query("count == 2")
            .drop(columns="count"))
        .groupby(
            ["User_ID", "UTC_Time", "Account", "Operation", "Coin"],
            as_index=False)
        .sum()
    )
    # import pdb; pdb.set_trace()
    # Casos de 3 transactions mas com erro a ser resolvido manualmente
    aggregated_swaps_with_problem = (
        aggregated_swaps.groupby("UTC_Time")
        .size()
        .to_frame()
        .rename(columns={0: "count"})
        .query("count != 3")
    ).reset_index()[["UTC_Time"]]
    # return aggregated_swaps, aggregated_swaps_with_problem

    # Casos de transactions que nao eh multiplo de 3
    aggregated_swaps_with_problem_2 = (
        swap_buy_count.query("count % 3 != 0 & count != 2")
        .merge(swap_buy, how="inner")
        .groupby(
            ["User_ID", "UTC_Time", "Account", "Operation", "Coin"],
            as_index=False)
        .sum()
    )[["UTC_Time"]].drop_duplicates()

    timestamps_with_problem = pd.concat([
        aggregated_swaps_with_problem,
        aggregated_swaps_with_problem_2
    ])

    cleaned_aggregated_swaps = pd.concat([
        aggregated_swaps.merge(
            aggregated_swaps_with_problem.reset_index(), how='left', indicator=True
        ).query("_merge == 'left_only'").drop(columns="_merge"),
        aggregated_swaps_without_taxes
    ])

    correct_transactions_values = (
        cleaned_aggregated_swaps.pivot(
            index="UTC_Time",
            columns="Operation",
            values=["Change", "Coin"]
        )
    ).reset_index()

    # TODO: ta mt estranho fazer assim... vamos fazer de um jeito mais safe
    correct_transactions_values = correct_transactions_values.rename(columns=rename)
    correct_transactions_values.columns = [
        x[1] + "amount" if x[0] == "Change"
        else x[1] + "currency" if x[0] == "Coin"
        else x[0]
        for x in correct_transactions_values.columns
    ]
    correct_transactions_values["paid_taxes_currency"] = correct_transactions_values["paid_taxes_currency"].fillna(correct_transactions_values['received_currency'])

    correct_transactions_values['paid_taxes_amount'] = correct_transactions_values['paid_taxes_amount'].fillna(0)

    correct_transactions_values["swap_date"] = pd.to_datetime(
        correct_transactions_values["UTC_Time"], format="%Y-%m-%d %H:%M:%S"
    ).dt.date
    correct_transactions_values = correct_transactions_values.drop(columns="UTC_Time")

    correct_transactions_values["_processed_at"] = datetime.now()

    return correct_transactions_values[[
        "swap_date",
        "received_amount",
        "paid_taxes_amount",
        "paid_amount",
        "received_currency",
        "paid_taxes_currency",
        "paid_currency",
        "_processed_at",
    ]], timestamps_with_problem

In [5]:
solved_transactions, timestamps_with_problem = compute_buy(l)
timestamps_with_problem = pd.concat([
    timestamps_with_problem,
    l.query("Operation.isin(@all_swap_categories) & ~(Operation.isin(['Transaction Spend', 'Transaction Buy', 'Transaction Fee']))")[["UTC_Time"]].drop_duplicates()
]).drop_duplicates()

l.merge(timestamps_with_problem).to_csv("incorrect_swaps.csv", index=False)

array([ 3,  6,  1,  2,  5,  4,  9, 18])

/tmp/ipykernel_26098/1432387063.py:89: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  correct_transactions_values['paid_taxes_amount'] = correct_transactions_values['paid_taxes_amount'].fillna(0)

## Manually solve remaining cases with bugs

* Sell (three or two rows)
* Date overlap
* Same transaction, different timestamps

Open .csv file and follow the steps below:
* Assign an ``id`` column to distinct each transaction
* Assure no distinct ``id`` have the same timestamp
* Fix transactions whose rows have different ``id``s and should have the same one
* Assure the ``Operation`` field has the values of a transaction buy. Make the equivalency manually

Important
* timestamps_still_with_problem MUST be empty. If not, maybe there's a timestamp with more than one transaction... check it out! :)

In [7]:
# manually_corrected
manually_corrected = pd.read_csv("raw_data/incorrect_swaps_fixed.csv")
fixed_trns, timestamps_still_with_problem = compute_buy(manually_corrected, ['Transaction Spend', 'Transaction Buy', 'Transaction Fee', "id"])

array([3, 2, 6])

/tmp/ipykernel_26098/1432387063.py:89: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  correct_transactions_values['paid_taxes_amount'] = correct_transactions_values['paid_taxes_amount'].fillna(0)

In [8]:
timestamps_still_with_problem

Empty DataFrame
Columns: [UTC_Time]
Index: []

## Manually Solve strange Operation categories

In [10]:
l.query("Operation == 'Airdrop Assets'")

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark
2593,290895864,2022-09-19 23:35:04,Spot,Airdrop Assets,ETHW,0.240156,NaN
9212,290895864,2024-08-25 08:23:08,Spot,Airdrop Assets,DOGS,52675.000000,NaN

In [11]:
manually_airdrop_assets = pd.DataFrame({
    "swap_date": [
        datetime.strptime("2022-09-19", "%Y-%m-%d").date(),
        datetime.strptime("2024-08-25", "%Y-%m-%d").date()],
    "received_amount": [0.240156, 52675.000000],
    "paid_taxes_amount": [0, 0],
    "paid_amount": [0, 0],
    "received_currency": ["ETHW", "DOGS"],
    "paid_taxes_currency": [0, 0],
    "paid_currency": ["None", "Airdrop"],
    "_processed_at": datetime.now(),
})

In [12]:
l.query("Operation == 'Merchant Acquiring'")

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark
8967,290895864,2024-07-21 23:15:30,Spot,Merchant Acquiring,ADA,-2.253619,Binance Pay - P_A1M7ZU5PSWS71112
8968,290895864,2024-07-21 23:15:30,Spot,Merchant Acquiring,USDT,-0.025879,Binance Pay - P_A1M7ZU5PSWS71112

In [13]:
manually_merchant_acquiring = pd.DataFrame({
    "swap_date": [
        datetime.strptime("2024-07-21", "%Y-%m-%d").date(),
        datetime.strptime("2024-07-21", "%Y-%m-%d").date()],
    "received_amount": [0, 0],
    "paid_taxes_amount": [0, 0],
    "paid_amount": [-2.253619, -0.025879],
    "received_currency": ["None", "None"],
    "paid_taxes_currency": [0, 0],
    "paid_currency": ["ADA", "USDT"],
    "_processed_at": datetime.now(),
})

In [14]:
l.query("Operation == 'Campaign Related Reward'")

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark
9646,290895864,2024-11-13 08:17:13,Funding,Campaign Related Reward,USDT,0.001,P_A1PKDF3B1SS71113

In [15]:
manually_campaign_related = pd.DataFrame({
    "swap_date": [datetime.strptime("2024-11-13", "%Y-%m-%d").date()],
    "received_amount": 0.001,
    "paid_taxes_amount": 0,
    "paid_amount": 0,
    "received_currency": "USDT",
    "paid_taxes_currency": 0,
    "paid_currency": "None",
    "_processed_at": datetime.now(),
})

In [16]:
manually_strange_categories = pd.concat([manually_airdrop_assets, manually_merchant_acquiring, manually_campaign_related])

## Concat All Swaps + QA

In [17]:
all_swaps = pd.concat([solved_transactions, fixed_trns, manually_strange_categories])

In [18]:
assert (all_swaps["paid_taxes_amount"] <= 0).all()

In [19]:
assert (all_swaps["paid_amount"] <= 0).all()

AssertionError:

In [20]:
assert (all_swaps["received_amount"] >= 0).all()

AssertionError:

In [21]:
all_swaps[~(all_swaps["paid_amount"] <= 0)]

,swap_date,received_amount,paid_taxes_amount,paid_amount,received_currency,paid_taxes_currency,paid_currency,_processed_at
146,2023-03-12,NaN,-0.844528,NaN,NaN,BRL,NaN,2025-04-13 14:24:51.874756
147,2023-03-12,NaN,-1.830428,NaN,NaN,BRL,NaN,2025-04-13 14:24:51.874756

In [22]:
all_swaps[~(all_swaps["received_amount"] >= 0)]

,swap_date,received_amount,paid_taxes_amount,paid_amount,received_currency,paid_taxes_currency,paid_currency,_processed_at
146,2023-03-12,NaN,-0.844528,NaN,NaN,BRL,NaN,2025-04-13 14:24:51.874756
147,2023-03-12,NaN,-1.830428,NaN,NaN,BRL,NaN,2025-04-13 14:24:51.874756

In [23]:
all_swaps[all_swaps["swap_date"].astype(str) == '2023-03-12']

,swap_date,received_amount,paid_taxes_amount,paid_amount,received_currency,paid_taxes_currency,paid_currency,_processed_at
146,2023-03-12,NaN,-0.844528,NaN,NaN,BRL,NaN,2025-04-13 14:24:51.874756
147,2023-03-12,NaN,-1.830428,NaN,NaN,BRL,NaN,2025-04-13 14:24:51.874756
8,2023-03-12,51.59,-0.051590,-10.0,BRL,BRL,USDT,2025-04-13 14:25:01.971517
9,2023-03-12,844.5283,-0.844528,-163.7,BRL,BRL,USDT,2025-04-13 14:25:01.971517
10,2023-03-12,1830.4278,-1.830428,-356.6,BRL,BRL,BUSD,2025-04-13 14:25:01.971517

In [24]:
# TODO: por algum motivo esse escapou na primeira leva de transactions certinhas. só vou remover msm pq ja estou cansado...
solved_transactions[solved_transactions["swap_date"].astype(str) == '2023-03-12']

,swap_date,received_amount,paid_taxes_amount,paid_amount,received_currency,paid_taxes_currency,paid_currency,_processed_at
146,2023-03-12,NaN,-0.844528,NaN,NaN,BRL,NaN,2025-04-13 14:24:51.874756
147,2023-03-12,NaN,-1.830428,NaN,NaN,BRL,NaN,2025-04-13 14:24:51.874756

In [25]:
all_swaps = all_swaps.query("received_amount.notnull()")
assert (all_swaps["received_amount"] >= 0).all()
assert (all_swaps["paid_amount"] <= 0).all()
assert (all_swaps["paid_taxes_amount"] <= 0).all()

In [27]:
all_swaps["paid_taxes_amount"] = -all_swaps["paid_taxes_amount"]
all_swaps["paid_amount"] = -all_swaps["paid_amount"]

In [89]:
l.query("Operation.isin(@all_swap_categories)")["UTC_Time"].nunique()

358

In [93]:
solved_transactions.shape, fixed_trns.shape

# TODO: Aqui, comparativo por alto... mas era melhor ter um QA melhor!

((315, 8), (42, 8))

In [28]:
all_swaps["exchange_name"] = "binance"

In [29]:
all_swaps

,swap_date,received_amount,paid_taxes_amount,paid_amount,received_currency,paid_taxes_currency,paid_currency,_processed_at,exchange_name
0,2021-10-25,450000.0,450.00000,106.416,SHIB,SHIB,BRL,2025-04-13 14:24:51.874756,binance
1,2021-10-27,0.08,0.00008,90.456,SOL,SOL,BRL,2025-04-13 14:24:51.874756,binance
2,2021-10-27,271767.0,271.77000,102.873438,SHIB,SHIB,BRL,2025-04-13 14:24:51.874756,binance
3,2021-11-01,9.0,0.00900,100.593,ADA,ADA,BRL,2025-04-13 14:24:51.874756,binance
4,2021-11-03,259848.0,259.85000,100.519202,SHIB,SHIB,BRL,2025-04-13 14:24:51.874756,binance
...,...,...,...,...,...,...,...,...,...
0,2022-09-19,0.240156,-0.00000,-0.0,ETHW,0,None,2025-04-13 14:25:12.709157,binance
1,2024-08-25,52675.0,-0.00000,-0.0,DOGS,0,Airdrop,2025-04-13 14:25:12.709157,binance
0,2024-07-21,0.0,-0.00000,2.253619,None,0,ADA,2025-04-13 14:25:16.812245,binance
1,2024-07-21,0.0,-0.00000,0.025879,None,0,USDT,2025-04-13 14:25:16.812245,binance
0,2024-11-13,0.001,-0.00000,-0.0,USDT,0,None,2025-04-13 14:25:18.369877,binance

In [30]:
all_swaps.to_sql(name="swaps", schema="crypto", con=engine, if_exists="append", index=False)

362

# Withdraws

In [ ]:
wt = l.query("Operation == 'Withdraw'")

In [35]:
wt["UTC_Time"] = pd.to_datetime(wt["UTC_Time"], format="%Y-%m-%d %H:%M:%S").dt.date

/tmp/ipykernel_26098/2768718222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wt["UTC_Time"] = pd.to_datetime(wt["UTC_Time"], format="%Y-%m-%d %H:%M:%S").dt.date

In [45]:
wt = wt[["UTC_Time", "Coin", "Change"]].rename(columns={
    "UTC_Time": "withdraw_date",
    "Change": "amount",
    "Coin": "currency_amount",
}).assign(
    currency_tax=lambda df: df["currency_amount"],
    source="binance",
    destiny=["metamask_airdrop"] * 18 + ["metamask_alts"] + ["metamask_airdrop"] * 3 + ["metamask_alts"] * 10 + ["metamask_airdrop"] + ["metamask_alts"] * 2,
    _processed_at=datetime.now(),
    tax=[
        0.0002,
        0.0002,
        0.0002,
        0.00021,
        0.00019,
        0.00015,
        0.0032,
        0.0032,
        0.00015,
        0.00015,
        0.00015,
        0.00015,
        0.00019,
        0.00018,
        0.00018,
        0.00008,
        0.0023,
        0.0018,
        0.11,
        0.00001,
        0.00004,
        0.00004,
        0.17,
        0.18,
        0.16,
        0.31,
        0.33,
        0.082,
        0.32,
        0.00004,
        0.089,
        0.22,
        0.00004,
        0.19,
        0.00004,
    ]
)

In [47]:
wt["amount"] *= -1

In [49]:
wt["amount"] -= wt["tax"]

In [51]:
wt.to_sql(name="withdraws", schema="crypto", con=engine, if_exists="append", index=False)

35