In [ ]:
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import os

PWD = os.getenv("postgres_pwd")

# Conexão
engine = create_engine(f"postgresql+psycopg2://postgres:{PWD}@localhost:5432/finances")

In [10]:
df = pd.read_csv("/home/ubuntu/finances/raw_data/USD_BRL Dados Históricos.csv")

In [13]:
df["Data"] = pd.to_datetime(df["Data"], format="%d.%m.%Y").dt.date

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      1370 non-null   object
 1   Último    1370 non-null   object
 2   Abertura  1370 non-null   object
 3   Máxima    1370 non-null   object
 4   Mínima    1370 non-null   object
 5   Vol.      771 non-null    object
 6   Var%      1370 non-null   object
dtypes: object(7)
memory usage: 75.1+ KB

In [24]:
df["Último"] = df["Último"].str.replace(",", ".").astype(float)

In [ ]:
df = df[["Data", "Último"]].rename(columns={"Data": "date", "Último": "value"}).assign(_processed_at=pd.Timestamp.now())

In [43]:
df["date"] = pd.to_datetime(df["date"], format="%Y-%m-%d").dt.date

In [44]:
date_range = pd.date_range(start=df["date"].min(), end=df["date"].max(), freq="D")
new_df = pd.DataFrame(date_range, columns=["date"])
new_df["date"] = pd.to_datetime(new_df["date"], format="%Y-%m-%d").dt.date
merged_df = pd.merge(new_df, df, on="date", how="left")

In [ ]:
merged_df["value"] = merged_df["value"].fillna(method="ffill")

/tmp/ipykernel_54673/593653302.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  merged_df["value"] = merged_df["value"].fillna(method="ffill")

In [50]:
merged_df["_processed_at"] = pd.Timestamp.now()

In [51]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1916 entries, 0 to 1915
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1916 non-null   object
 1   value          1916 non-null   float64
 2   _processed_at  1916 non-null   datetime64[us]
dtypes: datetime64[us](1), float64(1), object(1)
memory usage: 45.0+ KB

In [52]:
merged_df.to_sql(
    name="usdbrl",
    schema="currencies",
    con=engine,
    if_exists="append",
    index=False
)

916