# Update Binance Swaps Manually

* Update swap operations that are not well formatted in binance transactions files.

* First, run the automated process. A .csv file with manual inputs will be generated.

* Then, open a sheets editor and solve each case, one by one.

* Finally, use this notebook to persist the results. Note it already saves the register of rows
with timestamps already inspected, so that the next time, only new rows will be shown.

In [7]:
import pandas as pd
import sys
sys.path.append("/home/ubuntu/finances/")
from src.utils import persist_dataframe_to_database
from datetime import datetime

In [11]:
swaps = pd.read_csv("/home/ubuntu/finances/swaps.csv", sep=';', decimal=',')
swaps.date = pd.to_datetime(swaps.date, format="%d/%m/%Y")
manual_ids = pd.read_csv("/home/ubuntu/finances/manual_ids.csv", sep=';').drop_duplicates()

In [12]:
swaps.head()

,id,date,received_amount,paid_taxes_amount,paid_amount,received_currency,paid_taxes_currency,paid_currency,exchange_name
0,2021-10-27 16:49:05,2021-10-27,271767.00000,2.717700e+02,102.873438,SHIB,SHIB,BRL,binance
1,2021-11-01 17:19:22,2021-11-01,9.00000,9.000000e-03,100.593000,ADA,ADA,BRL,binance
2,2021-11-03 01:17:59,2021-11-03,259848.00000,2.598500e+02,100.519201,SHIB,SHIB,BRL,binance
3,2021-11-03 01:18:41,2021-11-03,5.20000,5.200000e-03,58.354400,ADA,ADA,BRL,binance
4,2022-01-26 22:26:40,2022-01-26,0.00025,2.500000e-07,49.987820,BTC,BTC,BRL,binance

In [13]:
manual_ids.head()

                     id
0   2021-10-27 16:49:05
6   2021-10-29 04:02:03
7   2021-11-01 17:19:22
13  2021-11-03 01:17:59
19  2021-11-03 01:18:41

In [37]:
persist_dataframe_to_database(swaps, "crypto", "swaps", True, pk_columns=["id"])

In [45]:
persist_dataframe_to_database(manual_ids, "crypto", "manually_inserted_keys", True, upsert=False)